main {
  flex-grow: 1;
}

input[type=text],
input[type=number],
input[type=email] {
  border: 1px solid #0000001a;
  background-color: #F3F3F5;
  color: #030213;
  padding: 0 12px 0 12px;
  border-radius: 10px;
  outline: none;
}

input::placeholder {
  color: #0A0A0A80;
}

.hidden {
  display: none;
  opacity: 0;
}

.price-range,
.select {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .price-range__label {
    color: #0A0A0A;
    font-size: 16px;
    line-height: 24px;
  }

  .select__input,
  .price-range__input {
    height: 42px;
  }
}

.store {
  padding: 32px 0;

  .store__wrapper {
    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 24px;
  }

  .store__sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .store__product-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .store__select {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .store__product-list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 32px 0;
    gap: 16px;
  }

  .store__sort {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 233px;
  }

  .store__label {
    color: #0A0A0A;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
  }
}

.select {
  position: relative;
}

.price-range {
  .price-range__wrapper {
    display: flex;
    gap: 8px;
  }
}

.price-range::placeholder {
  font-size: 16px;
  line-height: 100%;
}