.filters {
  border: 1px solid #0000001a;
  border-radius: 10px;
  padding: 17px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .filters__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .filters__btn {
    height: 40px;
  }

  .filters__label {
    color: #0A0A0A;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}