.header {
  height: 64px;
  border-bottom: 1px solid #0000001a;

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__content {
    padding: 16px 0;
    display: flex;
    gap: 27px;
    align-items: center;
  }

  .header__link {
    font-size: 16px;
    line-height: 24px;
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
  }

  .header__link--home {
    font-size: 24px;
    line-height: 32px;
    color: #0A0A0A;
  }

  .header__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 24px;
  }

  .header__list-item {
    color: #717182;
  }

  .header__list-item--active {
    color: #0A0A0A;
  }

  .header__personal {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .header__btn {
    background-color: transparent;
    border: none;
    padding: 8px;
  }
}