.product-card {
    width: 260px;
    height: 454px;
    border-radius: 10px;
    border: 1px solid #0000001A;

    .product-card__wrapper {
        position: relative;
    }

    .product-card__tag {
        position: absolute;
        top: 8px;
        left: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 86px;
        height: 24px;
        background-color: #D4183D;
        border-radius: 4px;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        font-weight: 400;
    }

    .product-card__fave-btn {
        opacity: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 8px;
        right: 8px;
        width: 32px;
        height: 32px;
        background-color: #FFFFFFE5;
        border-radius: 10px;
        transition: opacity ease-out .15s;
        cursor: pointer;
        z-index: 99;
    }

    .product-card__fave-btn--active {
        background-color: #D4183D;
    }

    .product-card__fave-btn input {
        display: none;
    }

    .product-card__heart {
        color: #0A0A0A;
    }

    .product-card__fave-btn input:checked + .product-card__heart {
        color: #D4183D;
    }

    .product-card__img {
        width: 260px;
        height: 260px;
        user-select: none;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }

    .product-card__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px;
    }

    .product-card__top {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .product-card__brand {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #717182;
    }

    .product-card__model {
        font-size: 18px;
        line-height: 27px;
        color: #0A0A0A;
    }

    .product-card__bottom {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .product-card__price {
        font-weight: 400;
        color: #0A0A0A;
    }

    .product-card__btn {
        height: 40px;
        font-size: 16px;
        line-height: 24px;
    }

    .product-card__amount {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .product-card__minus {
        background-color: #ECEEF2;
    }

    .product-card__minus,
    .product-card__plus {
        width: 40px;
        height: 40px;
    }

    .product-card__text {
        color: #0A0A0A;
        font-size: 16px;
        line-height: 24px;
    }
}

.product-card:hover .product-card__fave-btn {
    opacity: 1;
}